<!DOCTYPE html>
    <head>
        <title>NCAA Teams</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- jquery script file -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">  
        <!-- <link rel="stylesheet" href="colors.css">       -->
        <link href="custom.css" rel="stylesheet">  

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- add local script file -->
        <script src="script.js"></script>
        <script src="paginate.js"></script>

    </head>
    <body>

        <div id="preloader" class="preloader">
            <div class="loader"></div>
        </div>

        <div ng-app="ncaa" ng-controller="ncaaController">

            <div class="container py-5">
                <div class="table-responsive" style="border: 1px solid black; border-radius: 15px !important;">
                    <table class="table d-table table-sm-stack table-new-striped mb-0 table-borderless" id="table">
                        <thead>
                        <tr>
                            <th colspan="2" style="left:0; position: sticky !important; z-index:100;font-size: 24px">NCAA Teams</th>
                            <th colspan="{{max_colors - 1}}"></th>
                        </tr>
                        <tr>
                            <th style="left:0; position: sticky !important; min-width:60px !important; z-index:100">#</th>
                            <th style="left:60px; position: sticky !important; z-index:100">Selected</th>
                            <th colspan="{{max_colors}}">Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="t in paginated_data">
                            <td data-title="# : " class="align-middle" style="left:0; position: sticky !important; min-width:60px !important; z-index:100">
                                <span>{{pagination_details.from + $index}}</span>
                            </td>
                            <td data-title="Selected : " class="align-middle" style="min-width: 260px; left:60px; position: sticky !important; z-index:100">
                                <div style="min-height:82px;">
                                    <div ng-if="t.approvedColor" class="teamCapsule px-2 py-1 my-auto teamCapsule-active"
                                        ng-style="{ 'background-color': t.approvedColor, 'color': t.textColor }">
                                        <div class="row" style="height: 48px; min-width: 250px;">
                                            <div class="col-3">
                                                <div class="d-flex align-items-center h-100">
                                                    <img ng-src="{{t.teamImageLink}}" style="max-height: 48px; max-width: 48px;">
                                                </div>
                                            </div> 
                                            <div class="col-9">
                                                <div class="d-flex align-items-center h-100">
                                                    {{t.teamName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="t.approvedColor" class="d-flex justify-content-md-between">
                                        <div class="mx-2">
                                            <input type="color" id="bg_picker_{{$index}}" 
                                                ng-model="t.approvedColor" style="width: 13px; height:14px; padding: 0;">
                                            <span ng-style="{ 'color': t.approvedColor }" 
                                                ng-click="openColorPicker('bg_picker_' + $index)"
                                                >{{ t.approvedColor }}</span>
                                        </div>
                                        <div class="mx-2">
                                            <input type="color" id="text_picker_{{$index}}" 
                                                ng-model="t.textColor" style="width: 13px; height:14px; padding: 0;">
                                            <span ng-style="{ 'color': t.textColor }" 
                                                ng-click="openColorPicker('text_picker_' + $index)">{{ t.textColor }}</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td data-title="Option : " class="align-middle" ng-repeat="c in t.teamColorCodes">
                                <div>
                                    <div class="teamCapsule px-2 py-1 my-auto" 
                                        ng-click="setApprovedColor(t, c)"
                                        ng-style="{'background-color':  c , 'color': '{{ c | getContrastColor }}'}">
                                        <div class="row" style="height: 48px; min-width: 250px;">
                                            <div class="col-3">
                                                <div class="d-flex align-items-center h-100">
                                                    <img ng-src="{{t.teamImageLink}}" style="max-height: 48px; max-width: 48px;">
                                                </div>
                                            </div> 
                                            <div class="col-9">
                                                <div class="d-flex align-items-center h-100">
                                                    {{t.teamName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span ng-style="{'color': c }">{{ c }}</span>
                                        <span ng-style="{'color': '{{ c | getContrastColor }}'}">{{ c | getContrastColor }}</span>
                                    </div>
                                </div>
                            </td>
                            <td ng-repeat="c in [].constructor(max_colors - t.teamColorCodes.length) track by $index">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>                    

                <!-- Button -->                
                <div class="d-flex justify-content-center w-100 mt-3">
                    <button class="btn btn-primary mx-2" ng-click="save();">Save</button>
                </div>

                <div class="row px-6" ng-hide="students_added_count > 0">
                    <div class="col-12">
                        <div class="row mt-4">
                            <div class="col-12 col-lg-4">
                                <div class="d-flex align-items-center justify-content-center justify-content-xl-start mb-2 mb-md-0">
                                    <p>
                                        Showing {{pagination_details.from}} to {{pagination_details.to}}
                                        in page:
                                        <select class="custom-control d-inline"
                                                ng-model="pagination_details.current_page"
                                                ng-change="paginateData()"
                                                ng-options="p for p in all_pages">
                                        </select>
                                        of {{data.length}} entries
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-flex align-items-center justify-content-center">
                                    <ul class="pagination mb-3">

                                        <li class="page-item disabled"
                                            ng-show="pagination_details.current_page == 1">
                                            <a class="page-link">
                                                <i class="fa-solid fa-circle-chevron-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"
                                            ng-show="pagination_details.current_page != 1 && pagination_details.last_page != 1"
                                            ng-click="paginateData(1)">
                                            <a class="page-link">
                                                <i class="fa-solid fa-circle-chevron-left"></i>
                                            </a>
                                        </li>

                                        <li class="page-item disabled"
                                            ng-show="pagination_details.current_page == 1">
                                            <a class="page-link">
                                                <i class="fa-solid fa-chevron-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"
                                            ng-show="pagination_details.current_page != 1"
                                            ng-click="paginateData(pagination_details.current_page - 1)">
                                            <a class="page-link">
                                                <i class="fa-solid fa-chevron-left"></i>
                                            </a>
                                        </li>

                                        <!-- {{--for Regular screens--}} -->
                                        <li class="page-item d-none d-sm-block d-xxl-none"
                                            ng-repeat="n in pages"
                                            ng-class="{'active': pagination_details.current_page == n}"
                                            ng-click="pagination_details.current_page == n ? '' : paginateData(n)">
                                            <a class="page-link">{{n}}</a>
                                        </li>
                                        <!-- {{--for Large screens--}} -->
                                        <li class="page-item d-none d-xxl-block"
                                            ng-repeat="n in pages_more"
                                            ng-class="{'active': pagination_details.current_page == n}"
                                            ng-click="pagination_details.current_page == n ? '' : paginateData(n)">
                                            <a class="page-link">{{n}}</a>
                                        </li>
                                        <!-- {{--for Small screens--}} -->
                                        <li class="page-item d-sm-none active">
                                            <a class="page-link">{{pagination_details.current_page}}</a>
                                        </li>

                                        <li class="page-item disabled"
                                            ng-show="pagination_details.last_page == pagination_details.current_page">
                                            <a class="page-link">
                                                <i class="fa-solid fa-chevron-right"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"
                                            ng-show="pagination_details.last_page != pagination_details.current_page"
                                            ng-click="paginateData(pagination_details.current_page + 1)">
                                            <a class="page-link">
                                                <i class="fa-solid fa-chevron-right"></i>
                                            </a>
                                        </li>

                                        <li class="page-item disabled"
                                            ng-show="pagination_details.last_page == pagination_details.current_page">
                                            <a class="page-link">
                                                <i class="fa-solid fa-circle-chevron-right"></i>
                                            </a>
                                        </li>
                                        <li class="page-item"
                                            ng-show="pagination_details.last_page != pagination_details.current_page"
                                            ng-click="paginateData(pagination_details.last_page)">
                                            <a class="page-link">
                                                <i class="fa-solid fa-circle-chevron-right"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="d-flex align-items-center justify-content-center justify-content-xl-end">
                                    <p>
                                        Show
                                        <select class="custom-control d-inline"
                                                ng-model="per_page_filter"
                                                ng-change="calcCursorPage(per_page_filter);"
                                                ng-options="ps for ps in page_size">
                                        </select>
                                        entries per page
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade bd-example-modal-sm" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content bg-success text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Success.</h5>
                        <button type="button" class="close bg-success border-0 text-white" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Your data has been submitted successfully.
                    </div>
                  </div>
                </div>
            </div>
        
            <div class="modal fade bd-example-modal-sm" id="failureModal" tabindex="-1" role="dialog" aria-labelledby="successModal" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content bg-danger text-white">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Failure.</h5>
                            <button type="button" class="close bg-danger border-0 text-white" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Something went wrong.
                        </div>
                      </div>
                </div>
            </div>
            
        </div>
    </body>
</html>